<ion-header [translucent]="true">
  <ion-toolbar color="primary blue">
    <ion-title>
      {{'CONTACTS' | translate | titlecase}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  ES <ion-toggle #mytoogle color="light" (ionChange)=changeLanguage($event)></ion-toggle> EN
  <ion-button expand="block" (click)="capturePhoto()">
    <ion-icon name="camera" slot="end"></ion-icon>Hacer foto
  </ion-button>
  <ion-img *ngIf="this.image" [src]="this.image"></ion-img>
  <p>Desarrollado por: Álvaro Pérez Urbano 2ºCFGS</p>
</ion-content>
