<ion-header>
  <ion-toolbar>
    <ion-title>Inicio Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="display:table; width: 100%; height: 100%;">
    <div style="display:table-cell; vertical-align: middle;">
      <ion-buttons style="width: 100%;">
        <ion-button style="width: 100%; background-color: #3880ff !important;" (click)="signin()" expand="block" >Login
          <ion-icon name="log-in-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </div>
</ion-content>
